body {
    background-color: #202124;
    width: 225px;
    height: 325px;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    display:block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#issuesText {
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size: 18pt;
    color: white;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#issuesImgs {
    
    display: flex;
    justify-content: center;
}

#issues a {
    margin: 0px 12px;
}

#githubIssues {
    margin-top: 2px;
}

#githubIssues:hover { 
    opacity: 0.7;
}

#discordLogo:hover { 
    opacity: 0.7;
}

/*I know absolute positioning sucks but I'm too lazy to deal with inline blocks right now */
#signature {
    color: #404654;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    vertical-align: bottom;
    position: absolute;
    right: 5px;
    bottom: -5px;
}

#githubFooter {
    position: absolute;
    left: 5px;
    bottom: 5px;
    vertical-align: middle;
}

#githubFooter:hover { 
    opacity: 0.7;
}

#updateBanner a {
    color: inherit;
    text-decoration: none;
}

#updateBanner {
    margin: -8px -8px 0px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    background: rgb(254,75,30);
    background: linear-gradient(90deg, rgba(254,75,30,1) 0%, rgba(172,13,87,1) 100%);
}