/* GENERAL / CLASSES */
body {
    background-color: #202124;
    width: 225px;
    height: 325px;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    display:block;
    margin-left: 0;
    margin-right: auto;
}

.right {
    display:block;
    margin-left: auto;
    margin-right: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18pt;
    color: white;
}

.imgLink:hover { 
    opacity: 0.7;
    cursor: pointer;
}

.imgLink:active {
    opacity: 0.3;
}

.transition {
    overflow: hidden;
}

/* HEADER (obviously) */
#header {
    float: none;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* ISSUES/MIDDLE PART */
#issuesText {
    display:block;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#issuesImgs {
    display: flex;
    justify-content: center;
}

#issues a {
    margin: 0px 12px;
}

#githubIssues {
    margin-top: 2px;
}


/* FOOTER */
#signature {
    color: #404654;
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: -5px;
}

#githubFooter {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

/* UPDATE BANNER(obviously) */
#updateBanner a {
    color: inherit;
    text-decoration: none;
}

#updateBanner {
    margin: -8px -8px 0px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    background: rgb(254,75,30);
    background: linear-gradient(90deg, rgba(254,75,30,1) 0%, rgba(172,13,87,1) 100%);
}

/* SETTINGS PAGE */
#settingsPage > div > p {
    font-weight: 400;
    font-size: 12pt;
    background-color: #393A3C;
    border-radius: 10px;
    padding: 10px 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#settingsPage > div {
    padding: 8px 5px;
}
