body {
    background-color: #202124;
    height: 300px;
    width: 200px;
}

img {
    display:block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 165px;
}

a {
    display:block;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    size: 12pt;
    color: white;
    margin: 30px;
    text-align: center;
}